@import 'main';
@import 'about-variables';
.wrapper {
    margin: 0 auto;
    padding: 0 1rem;
    width: 100%;
}

.hero-image {
    height: 35rem;
    width: auto;
    margin: 0;
    padding: 10rem;
    display: flex;
    align-items: center;
    justify-content: left;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: red;
}

.backstory-field {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 3rem;
    padding-top: 5rem;
    margin: auto;
    width: 100%;
}

.backstory-buble {
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backstory-image {
    width: auto;
    height: 24.5rem;
}

.backstory-text {
    width: 40%;
    margin-right: 10rem;
    font-size: 1.1rem;
    text-align: justify;
    h3 {
        text-align: right;
    }
}

.featured {
    margin: auto;
    padding-top: 5rem;
    width: 40%;
    height: 20%;
    display: flex;
    h2 {
        margin-top: 5rem;
        margin-bottom: 5rem;
        text-align: center;
        font-size: 2rem;
    }
}

.card {
    border-radius: 1em;
    overflow: hidden;
    position: relative;
    h3 {
        margin-top: 10%;
        margin-bottom: 1vh;
        text-align: center;
        font-size: 3em;
        font-weight: bold;
        line-height: 1.25;
        text-shadow: 0 0 0.25em red;
        transition: 0.75s;
    }
    p {
        margin-left: 1vw;
        width: 90%;
        text-align: center;
        font-size: 1em;
        line-height: 1.5;
        text-shadow: 0 0 0.25em red;
        opacity: 0;
        transition: 0.75s;
    }
    img {
        height: 100%;
        transition: transform 1.5s, filter 1s;
    }
}

.card-text {
    position: absolute;
    top: 0;
    transition: 0.7s;
}

.card:hover img {
    transform: scale(1.25);
    filter: brightness(0.5) blur(0.2em) contrast(95%) saturate(50%);
}

.card:hover h3 {
    margin-top: 20%;
    font-size: 2.5em;
}

.card:hover p {
    opacity: 1;
}