@import 'main';
@import 'about-variables';
#hero {
    position: relative;
    width: 100vw;
    height: 60vh;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../../images/about-banner.jpg');
        background-color: rgba(0, 0, 0, 0.6);
        background-blend-mode: darken;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        z-index: -1;
    }
}

.wrapper {
    position: relative;
    z-index: 1;
    color: white;
    text-align: left;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    h2 {
        font-size: 3em;
    }
}

#backstory-field {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.backstory-buble {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backstory-image {
    width: auto;
    height: 24.5rem;
}

.backstory-text {
    text-align: left;
}

.featured {
    margin: auto;
    padding-top: 5rem;
    width: 40%;
    height: 20%;
    display: flex;
    h2 {
        margin-top: 5rem;
        margin-bottom: 5rem;
        text-align: center;
        font-size: 2rem;
    }
}

.card {
    border-radius: 1em;
    overflow: hidden;
    position: relative;
    h3 {
        margin-top: 10%;
        margin-bottom: 1vh;
        text-align: center;
        font-size: 3em;
        font-weight: bold;
        line-height: 1.25;
        text-shadow: 0 0 0.25em red;
        transition: 0.75s;
    }
    p {
        margin-left: 1vw;
        width: 90%;
        text-align: center;
        font-size: 1em;
        line-height: 1.5;
        text-shadow: 0 0 0.25em red;
        opacity: 0;
        transition: 0.75s;
    }
    img {
        height: 100%;
        transition: transform 1.5s, filter 1s;
    }
}

.card-text {
    position: absolute;
    top: 0;
    transition: 0.7s;
}

.card:hover img {
    transform: scale(1.25);
    filter: brightness(0.5) blur(0.2em) contrast(95%) saturate(50%);
}

.card:hover h3 {
    margin-top: 20%;
    font-size: 2.5em;
}

.card:hover p {
    opacity: 1;
}