@import "main";

.contact-page-container {
    margin-top: 90px;
    padding-bottom: 20px;
}

.book-app-form-container {
    border-radius: 28px;
    background-color: #efefef;
    padding: 40px;
    h1 {
        text-align: center;
        font-size: 36px;
        font-weight: 600;
    }
}

.right {
    float: right;
}

.subtitle {
    font-size: 24px;
}

.time-tag {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 21px;
}

.time-tag:hover {
    background-color: #ddd;
}

.selected {
    color: white;
    background-color: #000;
}

.selected:hover {
    background-color: #000;
    color: white;
}

.my-primary {
    display: inline-flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 56px;
    background: var(--Secondary, #568f84);
    color: white;
    text-decoration: none;
}

.my-primary:hover {
    transform: scale(1.02);
}

.book-app-form-container {
    width: 60%;
    margin: 0 auto;
}

@media screen and (max-width: 430px) {
    .book-app-form-container {
        width: 100%;
    }
}
