@import "main";
body {
    //background-color: hsl(334, 30%, 95%);
    background-color: white;
}

//Section 1
.hero-wrapper {
    position: relative;
    width: 100% !important;
    height: 600px;
    margin-top: 72px;
    display: flex;
    align-items: center;
    background-image: url("../../images/index-hero-banner-clouds.png");
    background-color: #fff;
    background-size: contain;
}

section.hero-wrapper > section {
    width: 100%;
    height: 30%;
}

h1 {
    font-size: 50px;
    color: $secondary;
}

.accent-row {
    height: 40% !important;
    padding-left: 30px;
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    .hero-action-btns {
        justify-content: space-between;
        margin-top: 2rem;
        a:hover {
            transform: scale(1.02);
        }
    }
}

#sml-circle {
    position: absolute;
    z-index: 2;
    top: 0px;
    right: 310px;
    width: 250px;
    height: 250px;
    border-radius: 125px;
    border: 10px solid #fff;
    background-color: #fab9d1;
    background-image: url("../../images/index-hero-image-2.jpg");
    background-size: cover;
    background-position: center center;
}

#big-circle {
    position: absolute;
    z-index: 2;
    right: 300px;
    top: 250px;
    width: 350px;
    height: 350px;
    border-radius: 175px;
    background-color: #fab9d1;
    border: 10px solid #fff;
    background-image: url("../../images/aa.png");
    background-size: cover;
    background-position: center center;
}

#mid-circle {
    position: absolute;
    z-index: 1;
    right: 100px;
    top: 100px;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    background-color: #fab9d1;
    border: 10px solid #fff;
    background-image: url("../../images/index-tounge.jpg");
    background-size: cover;
    background-position: center center;
}

.hero-go-to-action {
    display: inline-flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 56px;
    background: var(--Secondary, #568f84);
    color: white;
    text-decoration: none;
}

//Section 2
.section-2 {
    //padding: 1rem;
    margin: 2rem 0;
    text-align: center;
    h1 {
        font-weight: 900;
    }
}

.card-holder {
    display: flex;
    justify-content: space-between;
    padding: 60px 15%;
    width: 100%;
    margin-top: 100px;
}

.flavour-card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 25%;
    padding: 25px;
    border-radius: 14px;
    //-webkit-box-shadow: 10px 10px 27px 0px rgba(120, 120, 120, 0.72);
    //-moz-box-shadow: 10px 10px 27px 0px rgba(120, 120, 120, 0.72);
    //box-shadow: 10px 10px 27px 0px rgba(120, 120, 120, 0.72);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(237, 230, 237, 1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(237, 230, 237, 1);
    box-shadow: 10px 10px 5px 0px rgba(237, 230, 237, 1);
    color: #585858;
    transition-duration: 0.5s;
}

.flavour-card:hover {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(227, 214, 227, 1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(227, 214, 227, 1);
    box-shadow: 10px 10px 5px 0px rgba(227, 214, 227, 1);
}

.flavour-card > img {
    position: absolute;
    top: -110px;
    z-index: 2;
}

.card-content {
    h3 {
        padding: 0.8rem 0;
    }
}

.card-content > h3 {
    text-align: center;
    font-weight: 700;
}

.flavour-card:nth-child(1) {
    background-color: $secondary-light;
}

.flavour-card:nth-child(2) {
    background: $accent;
}

.flavour-card:nth-child(3) {
    background: $secondary-light;
}

// Section 3
.section-3 {
    .line {
        z-index: 2;
    }
    .section3-prepare {
        position: relative;
        overflow: hidden;
        .section3-content {
            margin: 1rem;
            display: flex;
            .section3-number {
                color: var(--d-9-d-9-d-9, #8d4f8f);
                font-size: 80px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
            .section3-title {
                color: var(--d-9-d-9-d-9, #8d4f8f);
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
            .section3-content {
                color: #282828;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
            #elipse1 {
                display: block !important;
                img {
                    //position: absolute;
                    top: 200px;
                }
            }
        }
    }
}

// Section 4
.section-4 {
    margin-top: 5rem;
    background-image: url("../../images/services-hero2.jpg");
    backdrop-filter: brightnes(0.2);
    background-size: cover;
    background-position: center center;
    height: 200px;
    z-index: 0;
    justify-content: center;
    align-items: center;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to top, #000000a0, transparent);
        z-index: 0;
    }
    .section4-content {
        display: flex;
        padding: 1rem;
        justify-content: space-between;
        align-items: center;
        top: 100%;
        transform: translateY(-100%);
        position: relative;
        z-index: 1;
        p {
            color: white;
            font-family: Inter;
            font-size: 25px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        a {
            display: inline-flex;
            padding: 16px 24px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 56px;
            background: var(--Secondary, #568f84);
            color: white;
            text-decoration: none;
        }
    }
}

.section-5 {
    h2 {
        text-align: center;
        margin-top: 80px;
        margin-bottom: 20px;
    }

    .answer {
        width: 80%;
        padding: 10px;
        border-radius: 20px;
        border: 1px solid $primary-dark;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .answers-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.price-heading {
    margin-bottom: 20px;
}

.price-section {
    padding: 50px 0;
    width: 50%;
    background-color: rgb(247, 247, 200);
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.bgn-text {
    font-size: 56px;
    color: $primary-dark;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 12px;
}

.price-section-text {
    font-size: 28px;
    color: black;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}

.big-price {
    font-size: 72px;
    color: $primary;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}

//Quiz----------------------------------------------

#question {
    font-size: 24px;
}

#question-container {
    width: 60%;
    padding: 50px;
    margin: 0 auto;
    background-color: rgb(255, 255, 218);
    border-radius: 21px;
    margin-bottom: 20px;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.my-btn {
    background-color: #ccc;
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.btn:hover {
    border-color: black;
}

.btn.correct {
    background-color: rgb(116, 229, 116);
    color: black;
}

.btn.wrong {
    background-color: rgb(239, 135, 135);
}

.start-btn,
.next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 42px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

// /Quiz
@media screen and (max-width: 430px) {

    .price-section{
        width: 90%;
        flex-direction: column;
    }

    #question-container {
        width: 90%;
        padding: 20px;
    }

    .answer {
        font-size: 12px;
    }

    .section-5 > h2 {
        padding-bottom: 20px;
    }

    .circle {
        display: none;
    }
    .circle.show-mobile {
        display: block;
        position: initial !important;
        background-image: url("../../images/aa.png") !important;
        background-position: center center;
    }
    h1 {
        font-size: 42px;
        font-weight: bold !important;
    }
    .card-holder {
        flex-direction: column;
        article {
            margin-bottom: 120px;
            width: 100%;
        }
        .card-holder {
            margin-top: 0;
        }
    }
    .hero-wrapper {
        background-image: none !important;
        height: 600px;
        align-items: flex-start;
    }
    .accent-row {
        padding-left: 0;
        display: flex;
        flex-direction: column;
        height: 100% !important;
        justify-content: space-around;
        align-items: center;
    }
    .hero-action-btns {
        button {
            display: block;
        }
        display: flex;
        justify-content: space-around !important;
    }
    .section3-content {
        flex-direction: column;
        .process-item {
            margin-top: 50px;
        }
    }
    #line {
        display: none;
    }
    .section-4 {
        display: none;
    }
    .dot-image {
        display: none !important;
    }
}

#line {
    position: absolute;
    left: 0;
    top: 39px;
    z-index: -999;
    width: 100%;
}

/*

  position: relative;
  overflow: hidden;
*/
