@import "main";

//.hero-img-wrapper {
//	background-color: $primary;
//	display: flex;
//	justify-content: space-around;
//	position: relative;
//	height: 593px;
//
//	#circle {
//		position: absolute;
//		right: 250px;
//		bottom: 220px;
//
//	}
//
//	#ice-cream {
//		position: absolute;
//		right: 320px;
//	}
//
//	#girl {
//		position: absolute;
//		bottom: 0;
//		right: 40px;
//	}
//
//	#milk {
//		position: absolute;
//		bottom: 0;
//		left: 50px;
//	}
//
//	.title {
//		margin-right: 60rem;
//		margin-top: 3rem;
//		font-family: 'Merienda', cursive;
//		font-weight: 900;
//		font-size: 70px;
//		color: $accent;
//		span {
//			color: $secondary;
//		}
//	}
//
//	.hero-buttons {
//		margin: 0 2rem;
//		.button {
//			background-color: $primary;
//			border-radius: 40%;
//			color: white;
//			padding: .5rem;
//
//			.btn1 {
//
//			}
//			.btn2 {
//
//			}
//		}
//	}
//
//
//}

body{
    background-color: #f7f0f3;
}

section.hero-wrapper {
    position: relative;
    width: 100% !important;
    height: 600px;
    margin-top: 72px;
    display: flex;
    align-items: center;
}

.shit{
    background-color: black !important;
    width: 100vw;
    height: 100vh !important;
}

section.hero-wrapper > section{
    width: 100%;
    height: 30%;
}

.accent-row{
    height: 40% !important;
    padding-left: 30px;
    padding-top: 30px;
}

#sml-circle{
    position: absolute;

    z-index: 2;
    top: 0px;
    right: 310px;

    width: 250px;
    height: 250px;
    border-radius: 125px;

    border: 10px solid #fff;
    background-color: #FAB9D1;
    background-image: url('../../images/COWW.png');
    background-size: cover;
}

#big-circle{
    position: absolute;

    z-index: 2;
    right: 300px;
    top: 250px;

    width: 350px;
    height: 350px;
    border-radius: 175px;

    background-color: #FAB9D1;
    border: 10px solid #fff;
    background-image: url('../../images/index-plate-2.jpg');
    background-size: cover;
    background-position: center center;
}

#mid-circle{
    position: absolute;

    z-index: 1;
    right: 100px;
    top: 100px;

    width: 300px;
    height: 300px;
    border-radius: 150px;

    background-color: #FAB9D1;
    border: 10px solid #fff;
    background-size: cover;
    background-position: center center;
}

.hero-go-to-action{
    display: inline-block;
    padding: 10px 15px;
    background-color: #D51744;  
    color: #fff;
    border-radius: 7px;
    text-decoration: none;
    cursor: pointer;
    
}