@import 'main';

.hero-img-wrapper {
	background-color: $primary;
	display: flex;	
	justify-content: space-around;
	position: relative;
	height: 593px;
	
	#circle {
		position: absolute;
		right: 250px;
		bottom: 220px;
			
	}

	#ice-cream {
		position: absolute;
		right: 320px;
	}

	#girl {
		position: absolute;
		bottom: 0;
		right: 40px;
	}

	#milk {
		position: absolute;
		bottom: 0;
		left: 50px;
	}

}
