@import 'variables';
@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
body {
    margin: 0;
    padding: 0;
    user-select: none;
    h1,
    h2,
    h3,
    h4,
    a {
        font-family: 'Inter';
    }
}

nav {
    width: 100%;
    display: flex;
    //justify-content: center !important;
    .container-fluid {
        background-color: $primary-light;
        -webkit-box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.26);
        -moz-box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.26);
        box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.26);
    }
    a {
        color: $primary-dark !important;
        font-family: 'Merienda', cursive;
        font-size: 18px;
    }
    a:hover {
        color: $primary !important;
    }
}

nav.navbar {
    padding: 0 10px;
    position: fixed;
    top: 0;
    z-index: 3;
    min-height: 72px;
    .navbar-nav {
        padding: 1rem;
    }
}

footer {
    background-color: #d6d8da;
    .container {
        text-align: center;
        color: white;
        width: 100% !important;
        h3,
        h2 {
            color: $primary-dark;
            font-family: 'Merienda', cursive;
            font-size: 20px;
            text-align: center;
        }
        button {
            background-color: $primary;
            border: none;
        }
    }
}