@import "main";
@import "services-variables";
@import "about";
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@800&family=Roboto:wght@300&display=swap");

h1 {
    color: $primary;
}

main {
    width: 100%;
}

.hero-section {
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.174);
    background-image: url("../../images/services-hero2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-title > h1 {
    font-size: 84px;
    font-family: "Merienda", cursive;
    color: white;
    font-weight: 900;
    text-transform: uppercase;
}

.content1-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 50px 15%;
    gap: 10vmin;

    .carousel-inner {
        img {
            border-radius: 30px;
        }
    }
}

#carouselExampleControls{
    flex: 1;
}

.text-wrapper{
    flex: 1;
}

.content1-section > article {
    height: 100%;
    width: 40%;
    padding: 20px;
    border-radius: 14px;

    p {
        text-align: justify;
    }
}

.content1-section > .image {
    background-image: url("../../images/services-side-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
h2 {
    text-align: center;
    color: $accent;
    font-size: 48px;
    text-decoration: $primary underline;
    padding-bottom: 1rem;
}

.card-holder {
    display: flex;
    justify-content: space-between;
    padding: 50px 15%;
    width: 100%;
    height: 600px;
    margin-top: 100px;
}

.flavour-card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25%;
    background-color: $primary;
    padding: 25px;
    border-radius: 14px;
    -webkit-box-shadow: 10px 10px 27px 0px rgba(120, 120, 120, 0.72);
    -moz-box-shadow: 10px 10px 27px 0px rgba(120, 120, 120, 0.72);
    box-shadow: 10px 10px 27px 0px rgba(120, 120, 120, 0.72);
    color: #585858;
    transition-duration: 0.5s;
}

.flavour-card:hover {
    -webkit-box-shadow: 25px 25px 60px 0px rgba(120, 120, 120, 0.65);
    -moz-box-shadow: 25px 25px 60px 0px rgba(120, 120, 120, 0.65);
    box-shadow: 25px 25px 60px 0px rgba(120, 120, 120, 0.65);
}

.flavour-card > img {
    position: absolute;
    top: -140px;
    right: 30px;
    z-index: -9999;
}

.card-content > h3 {
    text-align: center;
}

.flavour-card:nth-child(1) {
    background-color: $primary;
}

.flavour-card:nth-child(2) {
    background-color: #efd1a5;
}

.flavour-card:nth-child(3) {
    background-color: #c1e297;
}
