@import 'main';
@import 'services-variables';
body {
    overflow-x: hidden;
}

.page-title {
    margin-top: 144px;
}

#intro {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
    margin-bottom: 50px;
}

h2 {
    text-align: center;
    font-size: 2em;
    font-weight: 600;
}

.intro-text {
    width: calc(100% - 450px);
}

.bubbles-container {
    width: 450px;
    position: relative;
}

#crl-1 {
    z-index: -1;
    right: 140px;
    top: 20px;
    position: absolute;
    width: 220px;
    height: 220px;
    border-radius: 175px;
    background-image: url(../../images/icecream.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    //border: 10px solid white;
}

#crl-2 {
    z-index: -3;
    right: -80px;
    top: -200px;
    position: absolute;
    width: 290px;
    height: 290px;
    border-radius: 175px;
    background-image: url(../../images/icecream-1.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    //border: 10px solid white
}

#crl-3 {
    z-index: -4;
    right: -75px;
    top: 0px;
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 175px;
    background-image: url(../../images/icecream-2.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    //border: 10px solid white
}

#crl-4 {
    z-index: -2;
    right: 140px;
    top: -125px;
    position: absolute;
    width: 220px;
    height: 220px;
    border-radius: 175px;
    background-image: url(../../images/icecream-3.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    //border: 10px solid white
}

#tastes {
    margin-top: 50px;
    display: block;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-top: 50px;
    padding-top: 30px;
    margin-bottom: 50px;
    h2 {
        text-align: center;
        font-size: 2em;
    }
}

#all-tastes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 100px;
}

.taste {
    background: #ecd2ee;
    height: 120px;
    width: 82%;
    display: flex;
    margin: 10px;
    margin-left: 70px;
    border-radius: 100px;
    h3 {
        width: 65%;
        padding-top: 45px;
        padding-left: 70px;
        font-size: 1.5rem;
        word-wrap: break-word;
    }
}

.taste-img {
    background-position: center center;
    height: 120px;
    width: 35%;
    display: inline-block;
    //margin-left: 70px;
    border-radius: 60px;
}

.accent{
    color: #D88EDB;
}

@each $image in $images {
    .taste-img.#{$image} {
        background-image: url('../../images/#{$image}.png');
    }
}

@media screen and (max-width: 430px) {
    #all-tastes {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .taste {
        margin-left: 0 !important;
    }
    #intro {
        flex-direction: column-reverse;
        margin-top: 90px;
        margin-bottom: 0;
    }
    .intro-text {
        width: 100%;
        margin-top: 290px;
    }
    #tastes {
        margin-top: 0px;
    }
}