@import 'main';
@import 'services-variables';
#intro {
    width: 100%;
    height: 700px;
    display: block;
    align-items: center;
    justify-content: flex-start;
    padding-top: 100px;
    h2 {
        padding-right: 550px;
        text-align: center;
        font-size: 2em;
    }
}

.intro-text {
    position: absolute;
    top: 50%;
    left: 35%;
    size: 40%;
    width: 300px;
    transform: translate(-60%, -50%);
}

#crl-1 {
    z-index: -1;
    right: 420px;
    top: 210px;
    position: absolute;
    width: 220px;
    height: 220px;
    border-radius: 175px;
    background-color: #d1d800;
    border: 10px solid white;
}

#crl-2 {
    z-index: -4;
    right: 190px;
    top: 100px;
    position: absolute;
    width: 290px;
    height: 290px;
    border-radius: 175px;
    background-color: #54980f;
    border: 10px solid white
}

#crl-3 {
    z-index: -3;
    right: 180px;
    top: 340px;
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 175px;
    background-color: #110748;
    border: 10px solid white
}

#crl-4 {
    z-index: -2;
    right: 430px;
    top: 370px;
    position: absolute;
    width: 220px;
    height: 220px;
    border-radius: 175px;
    background-color: #08a9e4;
    border: 10px solid white
}

#tastes {
    margin-top: 50px;
}

// #taste-1 {
//     z-index: 4;
//     right: 430px;
//     top: 370px;
//     position: absolute;
//     width: 220px;
//     height: 220px;
//     border-radius: 175px;
//     background-color: #08a9e4;
// }
// #fruit-1 {
//     z-index: 4;
//     right: 430px;
//     top: 370px;
//     position: absolute;
//     width: 220px;
//     height: 220px;
//     border-radius: 175px;
//     background-color: #08a9e4;
// }
// #taste-2 {
//     z-index: 4;
//     right: 430px;
//     top: 370px;
//     position: absolute;
//     width: 220px;
//     height: 220px;
//     border-radius: 175px;
//     background-color: #08a9e4;
// }
// #fruit-2 {
//     z-index: 4;
//     right: 430px;
//     top: 370px;
//     position: absolute;
//     width: 220px;
//     height: 220px;
//     border-radius: 175px;
//     background-color: #08a9e4;
// }
// #taste-3 {
//     z-index: 4;
//     right: 430px;
//     top: 370px;
//     position: absolute;
//     width: 220px;
//     height: 220px;
//     border-radius: 175px;
//     background-color: #08a9e4;
// }
// #fruit-3 {
//     z-index: 4;
//     right: 430px;
//     top: 370px;
//     position: absolute;
//     width: 220px;
//     height: 220px;
//     border-radius: 175px;
//     background-color: #08a9e4;
// }
// #taste-4 {
//     z-index: 4;
//     right: 430px;
//     top: 370px;
//     position: absolute;
//     width: 220px;
//     height: 220px;
//     border-radius: 175px;
//     background-color: #08a9e4;
// }
// #fruit-4 {
//     z-index: 4;
//     right: 430px;
//     top: 370px;
//     position: absolute;
//     width: 220px;
//     height: 220px;
//     border-radius: 175px;
//     background-color: #08a9e4;
// }
// #taste-5 {
//     z-index: 4;
//     right: 430px;
//     top: 370px;
//     position: absolute;
//     width: 220px;
//     height: 220px;
//     border-radius: 175px;
//     background-color: #08a9e4;
// }
// #fruit-5 {
//     z-index: 4;
//     right: 430px;
//     top: 370px;
//     position: absolute;
//     width: 220px;
//     height: 220px;
//     border-radius: 175px;
//     background-color: #08a9e4;
// }
// #taste-6 {
//     z-index: 4;
//     right: 430px;
//     top: 370px;
//     position: absolute;
//     width: 220px;
//     height: 220px;
//     border-radius: 175px;
//     background-color: #08a9e4;
// }
// #fruit-6 {
//     z-index: 4;
//     right: 430px;
//     top: 370px;
//     position: absolute;
//     width: 220px;
//     height: 220px;
//     border-radius: 175px;
//     background-color: #08a9e4;
// }
#tastes {
    display: block;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 500px;
    padding-top: 30px;
    h2 {
        text-align: center;
        font-size: 2em;
    }
}

#all-tastes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 100px;
}

.taste {
    background: $secondary-light;
    height: 120px;
    width: 70%;
    display: flex;
    margin: 10px;
    margin-left: 70px;
    border-radius: 100px;
    h3 {
        width: 65%;
        padding-top: 45px;
        padding-left: 70px;
        font-size: 1.5rem;
        word-wrap: break-word;
    }
}

.taste-img {
    background-position: center center;
    height: 120px;
    width: 35%;
    display: inline-block;
    //margin-left: 70px;
    border-radius: 60px;
}

@each $image in $images {
    .taste-img.#{$image} {
        background-image: url('../../images/#{$image}.png');
    }
}