<h1>Register Page</h1>


<form method="post" action="/auth/register">
    <label>Username: <input type="text" name="username" placeholder="Username.." value="{{body.username}}"></label><br>
    <label>Password: <input type="password" name="password" placeholder="Password.."></label><br>
    <label>Repeat password: <input type="password" name="repass" placeholder="Password.."></label><br>
    <button>Register!</button><br>
</form>