/* Error: expected "{".
 *    ,
 * 53 | >>>>>>> 67bb5e64e5488bab8ce4f02fae19f1eb08ca4d2e
 *    |                                                 ^
 *    '
 *   scss\main.scss 53:49    @import
 *   scss\services.scss 1:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 53 \2502  >>>>>>> 67bb5e64e5488bab8ce4f02fae19f1eb08ca4d2e\d\a    \2502                                                  ^\a    \2575 \a   scss\\main.scss 53:49    @import\a   scss\\services.scss 1:9  root stylesheet';
}
